@font-face {
    font-family: "RockoUltraFLF";
    src: url("../font/RockoUltraFLF-Bold.ttf");
}
@font-face {
    font-family: "RockoFLF";
    src: url("../font/RockoFLF.ttf");
}

/* GENERAL */
html{
    font-family: RockoFLF, serif;
    width: 100%;
}

body{
    margin: 16px 20px;
}

a{
    text-decoration: none;
}
img{
    width: 100px;
    height: auto;
}

/* h1, h2, h3 alle font family RockoUltra
 h1, h2, h3:not(#about__accessibility > h3, #about__responsive>h3) {
    font-family: RockoUltraFLF, serif;
    text-transform: uppercase;
}*/



/* HEADER */
#header{

}


h1{
    font-family: RockoUltraFLF, serif;
    font-size: 35px;
    text-transform: uppercase;
    color: #FF6E0C;
    text-align: center;
}

.navigation__list, .language-dropdown, #contact-button{
    display: none;
}

/* MAIN*/
    /*HERO*/
        /*HER0-me*/
.hero__me{
    min-width: 333px;
    background-color: #DDBD8E;
    text-align: center;
    border-radius: 20px;
    position: relative;
}
.hero__me h3{
    font-family: RockoUltraFLF, serif;
    text-transform: uppercase;
    font-size: 50px;
    color: white;
    position: absolute;
    top:20px;
}
.hero__me img{
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    margin-top: 50px;
}
        /*HER0-projects*/
.hero__projects{
    min-width: 333px;
    background-color: #F20C90;
    text-align: center;
    border-radius: 20px;
}
.hero__projects h3{
    font-family: RockoUltraFLF, serif;
    text-transform: uppercase;
    font-size: 42px;
    color: white;
}
.hero__projects p{
    color: white;
    font-size: 12px;
}
.hero__projects a{
    font-family: RockoUltraFLF, serif;
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    background-color: #F950AD;
    color: white;
    padding: 15px 21px;
    border-radius: 10px;
}
        /*HER0-junior*/
.hero__junior{
    min-width: 333px;
    background-color: #99D6EA;
    text-align: center;
    border-radius: 20px;
    position: relative;

}
.hero__junior h3{
    font-family: RockoUltraFLF, serif;
    text-transform: uppercase;
    font-size: 42px;
    color: white;
    position: absolute;
    top: 20px;
}
.hero__junior img{
    width: 100%;
    vertical-align: bottom;
}







/*


#header{
    display: flex;
}

#navigation{
    display: flex;
    align-items: center;
    margin: 0 128px;
}
.navigation_list{
    display: flex;
    gap: 30px;
    align-items: center;
}

#navigation a{
    font-family: RockoUltraFLF;
    font-size: 14px;
    color: #512D00;
    text-transform: uppercase;
}
.language_dropdown{
    margin: 0 25px 0 150px;
}
#contact-button .contact-button{
    font-size: 17px;
    background-color: #FF6E0C;
    color: white;
    padding: 16px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
}


.language-dropdown{
    margin: 0 25px 0 150px;
    padding: 12px 17px;
    background-color: #F0F0F0;
    border-radius: 20px;
}

 */

