@import "reset.css";
@import "section/hero.css";
@import "section/formation.css";
@import "section/application.css";
@import "section/about.css";
@import "section/skills.css";
@import "section/contact.css";
@import "section/contact-form.css";
@import "section/footer.css";
@import "section/header.css";
@import "section/languagedropdown.css";
@import "section/burgermenu.css";


@font-face {
    font-family: "RockoUltraFLF";
    src: url("../../font/RockoUltraFLF-Bold.ttf");
}
@font-face {
    font-family: "RockoFLF";
    src: url("../../font/RockoFLF.ttf");
}


html{
    font-family: RockoFLF, serif;
    width: 100%;
}
.section {
    margin: 0 1.25rem;
}
a{
    text-decoration: none;
}
img{
    height: auto;
}
.more{
    font-family: RockoUltraFLF, serif;
    font-size: 0.875rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: #FF6E0C;
    display: inline-block;
    padding: 1.25rem 0;
    width: 100%;
    border-radius: 4.375rem;
}

@media (min-width: 481px) {
    .section{
        margin: 0;

    }
    main{
        padding: 0 7%;
    }

}
@media (min-width: 680px){
    main{
        padding: 0 9%;
    }
}
@media (min-width: 960px){
    main{
        padding: 0 10%;
    }
}






