
/* CONTACT */
#contact{
    background-color: #F20C90;
    border-radius: 25px;
    padding: 38px 36px 58px;
    text-align: center;
    margin-top: 80px;
}
.map img{
    max-width: 100%;
    background-color: white;
    border-radius: 50%;
    position: relative;
    margin: 43px 0 28px;
}
#contact .contact__logo{
    max-width: 20%;
    position: absolute;
    right: 50px;
}
#contact h2{
    font-family: RockoUltraFLF, serif;
    font-size: 42px;
    text-transform: uppercase;
    color: white;
}


#contact .contact-button{
    font-family: RockoUltraFLF, serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #F20C90;
    background-color: white;
    padding: 17px 62px;
    border-radius: 65px;
    display: inline-block;
    margin-top: 37px;
}

.contact__type{
    font-family: RockoUltraFLF, serif;
    font-size: 19px;
    text-transform: uppercase;
    color: white;
}
.contact__info{
    display: none;
}

@media (min-width: 480px) {
    #contact{
        display: grid;
        gap: 0 20px;
        text-align: left;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'map h2'
    'map list'
    'map button';
        align-items: center;
        border-radius: 1rem;
    }
    #contact h2 {
        grid-area: h2;
        font-size: 2.2rem;
    }
    .map{
        grid-area: map;
        width: 70%;
    }
    .map img{
        max-width: 130%;
        position: relative;
        margin: 0;
    }
    #contact .contact__logo{
        max-width: 10%;
        position: absolute;
        left: 200px;
    }
    .contact__list{
        grid-area: list;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 10px 0;
    }
    .contact__type{
        font-size: 12px;
    }
    #contact .contact-button{
        grid-area: button;
        font-size: 10px;
        padding: 12px 25px;
        justify-self: start;
        margin: 0;
    }
    #contact .contact__info{
        display: block;
        color: white;
        font-size: 10px;

    }
}