.footer__container{
    background-color: #FF6E0C;
    padding: 9.625rem 1.25rem 2.375rem;
    margin-top: 6.25rem;
    position: relative;
}
.footer__container__personal-logo{
    position: absolute;
    width: 45%;
    top: -15%;
    margin: 0rem 22%;
}
.footer__container__navigation{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.footer__container__navigation__item{
    background-color: #EE4C25;
    border-radius: 5rem;
    text-align: center;
}
.footer__container__navigation__item a{
    font-family: RockoUltraFLF, serif;
    font-size: 0.8125rem;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem 0;
}
.footer__container__social{
    display: flex;
    gap: 1.0625rem;
    justify-content: center;
    margin-top: 2.25rem;
}
.footer__container__social__item a {
    display: inline-block;
    width: 1.875rem;
    height: 1.875rem;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    text-indent: -624.9375rem;
}
.footer__container__social__item a.github {
    background-image: url("/img/GithubLogo.svg");
}
.footer__container__social__item a.facebook {
    background-image: url("/img/FacebookLogo.svg");
}
.footer__container__social__item a.instagram {
    background-image: url("/img/InstaramLogo.svg");
}
.footer__legal{
    font-size: 0.625rem;
    color: #AAAAAA;
    text-align: center;
    width: 100%;
    margin: 1.25rem 0 9.375rem;
}

@media (min-width: 480px) {
    .footer__container__navigation{
        flex-direction: row;
        margin-left: 30%;
    }
    .footer__container{
        padding: 0.9375rem;
        display: flex;
        gap: 15%;
        margin: 3.125rem 0 0;
        max-height: 1.875rem;
    }
    .footer__container__navigation__item{
        background-color: transparent;
        align-content: center;
    }
    .footer__container__navigation__item a{
        font-size: 0.5625rem;
        padding: 0;
    }
    .footer__container__personal-logo{
        max-width: 15%;
        margin: 0;
        border-radius: 50%;
        box-shadow: 0.25rem 0.25rem 0.3125rem rgba(0,0,0,.25);
    }
    .footer__container__social a{
        width: 1.25rem;
        height: 1.25rem;
    }
    .footer__container__social{
        margin: 0;
        justify-items: end;
        gap: 0.3125rem;
    }
    .footer__legal{
        font-size: 0.4375rem;
    }
}

@media (min-width: 990px) {
    .footer__container__personal-logo {
        max-width: 12%;
        margin: 1.5625rem 0 1.5625rem 4.375rem;
        top: -100%;
    }
    .footer__container {
        gap: 20%;
    }
    .footer__container__navigation {
        flex-direction: row;
        margin-left: 30%;
        gap: 1.875rem;
    }
    .footer__container__social a {
        width: 1.6875rem;
        height: 1.75rem;
    }
    .footer__container__navigation__item a {
        font-size: 0.8125rem;
        padding: 0;
    }
    .footer__container__social {
        gap: 0.625rem;
    }
    .footer__legal {
        font-size: 0.625rem;
    }
}