/* LANGUAGE DROPDOWN*/

/* wenn ich auf die flagge klicke lädt die seite sich neu ?*/
.language-dropdown{
    background-color: #F0F0F0;
    border-radius:12px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    top: -15px;
    min-width: 40px;
    text-align: center;
    z-index: 1;


}
.language-dropdown input{
    display: block;
    width: 40px;
    height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    -webkit-touch-callout: none;
}
.language-dropdown img{
    max-height: 10px;
    min-width: 14px;
    padding: 8px 4px;

}
.language-dropdown-button{
}
.language-dropdown-content{
    display: none;
}
.language-dropdown input:checked ~ .language-dropdown-content{
    display: block;

}
