#skills {
    background-color: #F5F5F5;
    padding: 52px 12px 32px;
    margin-top: 60px;
    position: relative;
}
#skills h2 {
    font-family: RockoUltraFLF, serif;
    font-size: 43px;
    text-transform: uppercase;
    color: #FF6E0C;
}
#skills h2 span {
    color: #F20C90;
    display: block;
}
#skills a.more {
    margin: 20px 0 60px;
}
#skills img {
    background-color: white;
    max-width: 290px;
    max-height: 183px;
    display: block;
    margin: auto;
    border-radius: 15px;
}
.skills__block__more {
    font-family: RockoUltraFLF, serif;
    font-size: 12px;
    background-color: #F20C90;
    color: white;
    padding: 8px 22px;
    margin: 17px 0;
    border-radius: 35px;
    display: inline-block;
}
#skills p {
    font-family: RockoUltraFLF, serif;
    font-size: 20px;
    color: #512D00;
    max-width: 236px;
    text-align: left;
}
.slider-button span{
    font-size: 50px;
    background-color: #E3E3E3;
    color:#AAAAAA;
    padding: 10px 25px;
    border-radius: 50%;
    cursor: pointer;
}
.slider-container {
    position: relative;
    min-height: 364px;
    width: 336px;
    margin: 0 auto;
    left: 0;
    overflow: hidden;
}
.skills__block {
    border-radius: 25px;
    border: 4px solid #F0F0F0;
    padding: 20px 14px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateX(100%);
    opacity: 0;
}
.skills__block.active {
    opacity: 1;
    transform: translateX(0);
    z-index: 1;
}

.skills__block.exitingLeft {
    transform: translateX(-100%);
}

.skills__block.exitingRight {
    transform: translateX(100%);
}

.skills__block.enteringRight {
    transform: translateX(100%);
    opacity: 1;
    z-index: 1;
}

.skills__block.enteringLeft {
    transform: translateX(-100%);
    opacity: 1;
    z-index: 1;
}
.slider-button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    position: relative;
    margin-top: 25px;
}
.dot {
    cursor: pointer;
    background-color: #AAAAAA;
    border-radius: 50%;
    padding: 5px;
    margin: 0 5px;
}

@media (min-width: 480px) {
    #skills::before {
        content: '';
        position: absolute;
        top: -1.3rem;
        left: -4.5rem;
        right: -4.5rem;
        bottom: -1.5rem;
        background-color: #F5F5F5;
        z-index: -1;
    }
    #skills{
        display: grid;
        grid-template-columns: 1fr 0.3fr;
        grid-template-areas: 'h2 a'
    'slider slider'
    'button button';
    }
    #skills h2{
        grid-area: h2;
        font-size: 35px;
    }
    #skills a.more {
        grid-area: a;
        font-size: 9px;
        padding: 10px 0;
        margin: 40px 0 40px;
    }
    .slider-container{
        grid-area: slider;
        position: inherit;
        min-height: 100%;
    }
    .skills__block{
        opacity: 1;
        min-width: 31.5%;
        border-radius: 20px;
        padding: 12px;
        transform: none;
        position: relative;
    }
    .skills__block a{
        font-size: 6px;
        padding: 5px 10px;
        margin: 10px 0;
    }
    #skills p{
        font-size: 12px;
    }
    #skills img{
        max-width: 100%;
        border-radius: 5px;
    }
    .slider-container {
        position: inherit;
        width: 100%;
        overflow: hidden;
    }

    #slider {
        display: flex;
        gap: 10px;
    }
    .slider-button{
        gap: 5px;
        margin: 20px 0 0;
        width: 120%;
        display: flex;
        justify-content: end;

    }
    .slider-button span{
        font-size: 23px;
        margin: 0;
        padding: 4px 12px;
    }

}
@media (min-width: 680px) {
    #skills h2 {
        font-size: 2.2rem;
    }
    #skills a.more {
        font-size: 11px;
    }
    .skills__block{
        padding: 14px;
    }
    #skills p {
        font-size: 14px;
        line-height: 17px;
    }
}